<div id="featured">
    <h2>Featured</h2>
    <div class="cards">
        <div class="card">
            <div class="author">
                <div class="avatar"><img src="http://localhost:3000/api/defaultavatar?size=200&name=Mo" alt=""></div>
                <p class="details"><span class="name">Mockup</span> &middot; <span class="date">Jan 3</span></p>
            </div>
            <p class="title">
                Mockup article title
            </p>
        </div>
    </div>
</div>