<div class="hero">
    <h2 class="title">Next Generation Blogging</h2>
    <p class="summary">Explore the future of blogging powered by modern markdown (MDX).</p>
    <a class="try unselectable" href="/browse">Give It A Try</a>
</div>