<form action="/search" id="search-bar">
    <input type="search" name="q" id="query">
    <button>
        <svg viewBox="0 0 35 38" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M32.9292 34.1542L21.2626 22.4875" stroke="black" stroke-opacity="0.8" stroke-width="2"/>
            <path d="M14.5833 26.25C21.0266 26.25 26.25 21.0266 26.25 14.5833C26.25 8.13997 21.0266 2.91663 14.5833 2.91663C8.13997 2.91663 2.91663 8.13997 2.91663 14.5833C2.91663 21.0266 8.13997 26.25 14.5833 26.25Z" stroke="black" stroke-opacity="0.8" stroke-width="2"/>
        </svg>
    </button>
</form>