<div id="browse">
    <div class="left">
        <div class="rec">
            <p class="title">Popular Tags</p>
            <a href="/browse?tag=web">#web</a>
            <a href="/browse?tag=dev">#dev</a>
            <a href="/browse?tag=react">#react</a>
        </div>
    </div>
    <div class="middle">
        middle
    </div>
    <div class="right">
        <div class="rec">
            <p class="title">Recommended</p>
            <a href="/browse?tag=web">Using the HTML geolocation API to display a users location on a map</a>
        </div>
        <div class="rec">
            <p class="title">Featured</p>
            <a href="/browse?tag=web">Using the HTML geolocation API to display a users location on a map</a>
        </div>
    </div>
</div>