:root {
    --primary: #000;
    --secondary: #fff;
    --background: #539ff5;
}

* {
    margin: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--primary);
    background-color: var(--background);
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.75);
}

header #search-bar {
    display: flex;
    align-items: center;
    width: 50vw;
    max-width: 600px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
}

header #search-bar #query {
    width: 100%;
    height: 100%;
    padding: 10px;
    outline: none;
    border: none;
    background-color: transparent;
}

header #search-bar #query:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

header #search-bar button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
}

header #search-bar button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

header #search-bar button:active {
    background-color: rgba(0, 0, 0, 0.3);
}

header #search-bar button svg {
    height: 30px;
    margin: 10px;
}

header .left a {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary);
    text-decoration: none;
}

header .right {
    display: flex;
    gap: 20px;
}

header .right a {
    display: flex;
    align-items: center;
    color: var(--primary);
    text-decoration: none;
}

header .right a img {
    height: 40px;
    max-height: 80%;
    border-radius: 100px;
}

/* HERO */

.hero {
    color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    min-height: 500px;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero .title {
    font-size: 3rem;
}

.hero .summary {
    max-width: 500px;
}

.hero .try {
    font-weight: bold;
    color: var(--primary);
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 10px;
    background-color: var(--secondary);
}

.hero .try:hover {
    background-color: rgba(255, 255, 255, 0.75);
}


/* FEATURED */

#featured {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 40px auto;
}

#featured h2 {
}

#featured .cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px 0;
}

#featured .cards .card {
    color: var(--primary);
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--secondary);
    overflow: hidden;
    padding: 10px;
    width: 450px;
}

#featured .cards .card:hover {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    overflow: hidden;
    padding: 10px;
    width: 450px;
}

#featured .cards .card .author {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

#featured .cards .card .author .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100px;
}

#featured .cards .card .author .avatar img {
    width: 100%;
}

#featured .cards .card .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 50px;
}


/* WHY */

#why {
    display: flex;
    width: fit-content;
    margin: auto;
    gap: 20px;
    flex-direction: column;
}

#why p {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary);
}


/* SIGNUP */

.signup-title {
    padding-top: 40px;
    color: var(--secondary);
    text-align: center;
}

#signup {
    display: flex;
    margin: 40px auto;
    max-width: 750px;
    border-radius: 10px;
    background-color: var(--secondary);
}

#signup .left {
    width: 40%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px;
    background-color: rgba(0, 0, 0, 0.2);
}

#signup .left a {
    color: var(--primary);
    text-decoration: none;
    padding: 10px 20px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--secondary);
}

#signup .right {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}

#signup h2 {
    text-align: center;
}

#signup .input {
    display: flex;
    gap: 5px;
    align-items: center;
    width: fit-content;
    margin: 5px auto;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

#signup .input input {
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
}

#signup .input input:focus {
    outline: none;
    border-bottom: #000 1px solid;
    margin-bottom: -1px;
}

#signup .input svg {
    width: 25px;
    min-height: 25px;
}

#signup button {
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#signup #message:not(:empty) {
    width: fit-content;
    margin: auto;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #ff0000;
    background-color: rgba(255, 0, 0, 0.1);
}